{% extends 'base_layout.html' %}

{% block content %}
<div class="search-detail">
    <div class="search">
        <img src="{{pet.image.url}}" style="height:20%; width:20%;"/>
        <h2>{{pet.name}}</h2>
        <p>Breed: {{pet.breed}}</p>
        <p>Age: {{pet.get_age}}</p>
        <p>Acquired: {{pet.acquired_date}}</p>
        <p>Spayed: {{pet.get_spayed}}</p>
        <p>Size: {{pet.size}}</p>
        <p>Color: {{pet.color}}</p>
        <p>Fostered: {{pet.get_fostered}}</p>
        <p>Sex: {{pet.get_sex}}</p>
        <p>Description: {{pet.description}}</p>
    </div>
</div>
{% endblock %}